body {
    background-color: #f6f5f1;
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding: 0; /* Removed padding from the body */
}

h1 {
    font-family: 'Georgia', serif;
    color: chocolate;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: left;
    color: #5D2510;
    font-style: italic;
    margin-bottom: 15px;
}

h3 {
    color: #5D2510;
    margin-top: 20px;
    margin-bottom: 10px;
}

.img2, .img3 {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

p {
    color: #5D2510;
    text-align: justify;
    margin: 10px 0;
}

a {
    font-family: cursive;
    font-size: large;
    text-decoration: none;
    color: #5D2510;
    transition: color 0.3s;
}

a:hover {
    color: #ffa500;
    text-decoration: underline;
    border-radius: 5px;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    color: white;
}

footer {
    background-color: sienna;
    height: 100px;
    position: relative;
    width: 100%; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: sienna;
    padding: 10px 50px;
    box-sizing: border-box;
    width: 100%;
}

.logo img {
    height: 110px;
    width: 110px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-size: large;
}

.nav-links li {
    margin: 0 50px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    padding: 15px;
}

.nav-links a:hover {
    background-color: #ffa500;
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    background-color: sienna;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Main content container */
.tbl2 {
    max-width: 1200px; 
    margin: 0 auto; /* Center the content */
    padding: 20px; 
}

/* Ensure the images inside .tbl2 don't stretch too far */
.tbl2 img {
    max-width:100%;
    height: auto;
    align-items: center;
}

/* Responsive design: For smaller screens */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        display: flex;
    }

    .nav-links {
        flex-direction: row;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .footer {
        font-size: smaller;
        background-color: sienna;
        height: 100px;
        position: relative;
    }

    /* Adjust padding for the content on small screens */
    .tbl2 {
        padding: 10px;
    }
}
